@import "/src/styles/tokens.scss";

.button{
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:$finish;
  background-color:$finish;
  border: none;
  span{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color:$pure-white;
  }
}
