@import "/src/styles/tokens.scss";

.navContainer{
  ul{
    display: flex;
    gap:0.5rem;
    list-style-type: none;
    padding:5px;
    .options{
       padding: 5px;      
       text-decoration: none;   
       cursor:pointer;  
     }
    .options.active{
        background-color: $finish;
        color:$pure-white;
        border-radius: 0.5rem;
      }
  }  
  @media screen and (max-width: 800px) {
    .options{
     font-size: 0.55rem; 
    }
  }
}