@import '/src/styles/tokens.scss';

.Header{
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5vw;  
  background-color: $pure-white;
}