@import '/src/styles/tokens.scss';

.Header{
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5vw;  
  background-color: $pure-white;
}

@media screen and (max-width: 800px) {
  .Header{
    padding: 10px 0.1vw; 
  }
}